In [1]:
import requests
import pandas as pd

def get_exchange_rates(start_date, end_date, base_currency, target_currency):
    url = "https://api.apilayer.com/exchangerates_data/timeseries"
    headers = {
        "apikey": "We love Jon"
    }
    rates = {}
    year = pd.Timedelta(days=365)
    query_date = pd.to_datetime(end_date)
    while query_date >= pd.to_datetime(start_date):
        # Set the start and end dates for the current year
        current_year_start = (query_date - year).strftime('%Y-%m-%d')
        current_year_end = query_date.strftime('%Y-%m-%d')
        params = {'access_key': 'We love Jon',
                  'start_date': current_year_start,
                  'end_date': current_year_end,
                  'base': base_currency,
                  'symbols': target_currency}
        try:
            response = requests.get(url, params=params, headers=headers)
            response.raise_for_status()
            data = response.json()
            rates.update(data['rates'])
        except requests.exceptions.RequestException as e:
            print("Error: ", e)
        query_date -= year
    # Create a DataFrame from the rates dictionary
    df = pd.DataFrame.from_dict(rates, orient='index')
    return df

In [2]:
start_date = '2013-12-31'
end_date = '2022-12-31'
base_currency = 'CNY'
target_currency = 'USD'
df_CNY = get_exchange_rates(start_date, end_date, base_currency, target_currency)

In [3]:
start_date = '2013-12-31'
end_date = '2022-12-31'
base_currency = 'JPY'
target_currency = 'USD'
df_JPY = get_exchange_rates(start_date, end_date, base_currency, target_currency)

In [4]:
start_date = '2013-12-31'
end_date = '2022-12-31'
base_currency = 'EUR'
target_currency = 'USD'
df_EUR = get_exchange_rates(start_date, end_date, base_currency, target_currency)

In [5]:
start_date = '2013-12-31'
end_date = '2022-12-31'
base_currency = 'GBP'
target_currency = 'USD'
df_GBP = get_exchange_rates(start_date, end_date, base_currency, target_currency)

In [6]:
start_date = '2013-12-31'
end_date = '2022-12-31'
base_currency = 'INR'
target_currency = 'USD'
df_INR = get_exchange_rates(start_date, end_date, base_currency, target_currency)

In [2]:
start_date = '2013-12-31'
end_date = '2022-12-31'
base_currency = 'CAD'
target_currency = 'USD'
df_CAD = get_exchange_rates(start_date, end_date, base_currency, target_currency)

In [8]:
start_date = '2013-12-31'
end_date = '2022-12-31'
base_currency = 'KRW'
target_currency = 'USD'
df_KRW = get_exchange_rates(start_date, end_date, base_currency, target_currency)

In [9]:
start_date = '2013-12-31'
end_date = '2022-12-31'
base_currency = 'RUB'
target_currency = 'USD'
df_RUB= get_exchange_rates(start_date, end_date, base_currency, target_currency)

In [13]:
df_KRW.rename(columns={'USD':'KRW/USD'}, inplace=True)
df_CAD.rename(columns={'USD':'CAD/USD'}, inplace=True)
df_EUR.rename(columns={'USD':'EUR/USD'}, inplace=True)
df_CNY.rename(columns={'USD':'CNY/USD'}, inplace=True)
df_INR.rename(columns={'USD':'INR/USD'}, inplace=True)
df_GBP.rename(columns={'USD':'GBP/USD'}, inplace=True)
df_RUB.rename(columns={'USD':'RUB/USD'}, inplace=True)
df_JPY.rename(columns={'USD':'JPY/USD'}, inplace=True)

daily_exchange_rate= pd.concat([df_CAD, df_CNY,df_EUR, df_GBP,df_INR,df_JPY,df_RUB,df_KRW], axis=1)

daily_exchange_rate

,CAD/USD,CNY/USD,EUR/USD,GBP/USD,INR/USD,JPY/USD,RUB/USD,KRW/USD
2013-01-02,1.012672,0.160039,1.320664,1.626879,0.018368,0.011477,0.033058,0.000940
2013-01-03,1.012338,0.160110,1.307521,1.612313,0.018366,0.011447,0.033056,0.000940
2013-01-04,1.013542,0.160139,1.309641,1.611448,0.018275,0.011392,0.033027,0.000941
2013-01-05,1.013007,0.160118,1.309641,1.611448,0.018244,0.011371,0.032995,0.000941
2013-01-06,1.013438,0.160125,1.309898,1.611741,0.018247,0.011361,0.032996,0.000943
...,...,...,...,...,...,...,...,...
2022-12-27,0.739235,0.143676,1.063683,1.202617,0.012081,0.007491,0.014286,0.000786
2022-12-28,0.735318,0.143293,1.062869,1.202971,0.012070,0.007460,0.013746,0.000785
2022-12-29,0.737817,0.143594,1.066155,1.205473,0.012072,0.007522,0.013513,0.000793
2022-12-30,0.737001,0.144963,1.072673,1.210300,0.012085,0.007627,0.013559,0.000792
2022-12-31,0.736947,0.144972,1.072673,1.209800,0.012085,0.007627,0.013559,0.000792

In [15]:
daily_exchange_rate.to_excel('daily_exchange_rate.xlsx',index=True)

## Monthly average exchange rate

In [17]:
df_CNY.index = pd.to_datetime(df_CNY.index)

# Resample the DataFrame to monthly frequency and calculate the mean exchange rate for each month
monthly_average1 = df_CNY.resample('M').mean()

# Print the resulting DataFrame
monthly_average_CNY = monthly_average1.reset_index(drop=False)

In [18]:
df_JPY.index = pd.to_datetime(df_JPY.index)

# Resample the DataFrame to monthly frequency and calculate the mean exchange rate for each month
monthly_average2 = df_JPY.resample('M').mean()

# Print the resulting DataFrame
monthly_average_JPY = monthly_average2.reset_index(drop=False)

In [5]:
df_CAD.index = pd.to_datetime(df_CAD.index)

# Resample the DataFrame to monthly frequency and calculate the mean exchange rate for each month
monthly_average3 = df_CAD.resample('M').mean()

# Print the resulting DataFrame
monthly_average_CAD = monthly_average3.reset_index(drop=False)

In [20]:
df_EUR.index = pd.to_datetime(df_EUR.index)

# Resample the DataFrame to monthly frequency and calculate the mean exchange rate for each month
monthly_average4 = df_EUR.resample('M').mean()

# Print the resulting DataFrame
monthly_average_EUR = monthly_average4.reset_index(drop=False)

In [21]:
df_GBP.index = pd.to_datetime(df_GBP.index)

# Resample the DataFrame to monthly frequency and calculate the mean exchange rate for each month
monthly_average5 = df_GBP.resample('M').mean()

# Print the resulting DataFrame
monthly_average_GBP = monthly_average5.reset_index(drop=False)

In [22]:
df_INR.index = pd.to_datetime(df_INR.index)

# Resample the DataFrame to monthly frequency and calculate the mean exchange rate for each month
monthly_average6 = df_INR.resample('M').mean()

# Print the resulting DataFrame
monthly_average_INR = monthly_average6.reset_index(drop=False)

ahhhhhh

In [23]:
df_KRW.index = pd.to_datetime(df_KRW.index)

# Resample the DataFrame to monthly frequency and calculate the mean exchange rate for each month
monthly_average7 = df_KRW.resample('M').mean()

# Print the resulting DataFrame
monthly_average_KRW = monthly_average7.reset_index(drop=False)

In [24]:
df_RUB.index = pd.to_datetime(df_RUB.index)

# Resample the DataFrame to monthly frequency and calculate the mean exchange rate for each month
monthly_average8 = df_RUB.resample('M').mean()

# Print the resulting DataFrame
monthly_average_RUB = monthly_average8.reset_index(drop=False)

In [25]:
monthly_average_CNY.to_excel('monthly_average_CNY.xlsx', index=False)
monthly_average_CAD.to_excel('monthly_average_CAD.xlsx', index=False)
monthly_average_EUR.to_excel('monthly_average_EUR.xlsx', index=False)
monthly_average_RUB.to_excel('monthly_average_RUB.xlsx', index=False)
monthly_average_GBP.to_excel('monthly_average_GBP.xlsx', index=False)
monthly_average_KRW.to_excel('monthly_average_KRW.xlsx', index=False)
monthly_average_INR.to_excel('monthly_average_INR.xlsx', index=False)
monthly_average_JPY.to_excel('monthly_average_JPY.xlsx', index=False)